{% load static %}
<!doctype html>
<html lang="es-ar">

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% load bootstrap_icons %}
<title>Grupo.py | {% block title %}{% endblock title %}</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS v5.2.1 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
<header>
        <a href="{% url 'index' %}"><i class='icon-header'>
        <img class='icon-header' src="{% static 'svg/overwolflogo64.svg' %}" alt="">
        </i></a>
        <nav>  
            <ul class="menu">
            <li><a href="{% url 'index' %}">inicio</a></li>
            <li><a href="#">nosotros</a></li>
            <li><a href="#">noticias</a></li>
            <li><a href="#">equipo</a></li>
            <li><a href="#">trabajos</a></li>
        </ul></nav>
</header>
<main> 
    <div id="content">
        {% block contenido %}
    
        {% endblock %}
</main>
<footer class="footer">
    <p>Derechos de autor © 2023. Mi sitio web.</p>
    <p>Contáctanos en julianbenitezmerlo@gmail.com.<a href="#">
        <i>{% bs_icon 'github' size='2em' %}</i>
        </a></p>
</footer>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script>
</body>

</html>