{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo %}


{% block contenido %}
<br>
	<span class="submenu">

		<a href="{% url 'noticias:listar' %}" class="btn btn-primary">TODAS</a>
		{% for cat in categorias %}
			<a href="?id={{cat.pk}}" class="btn btn-primary">{{cat.nombre}}</a>
		{% endfor %}
</span>

<br>
<br>

	<h1>ACA VOY A LISTAR LAS NOTICIAS</h1>

	{% for noti in noticias %}
		{% comment %} <img src="{{noti.imagen.url}}" width="100" height="100">
		
		<p><a href="{% url 'noticias:detalle' noti.pk %}">TITULO: {{noti.titulo}}</a></p>
		
		<p>FECHA: {{noti.fecha}}</p>
		<p>CATEGORIA: {{noti.categoria_noticia}}</p>
		<p>CUERPO: {{noti.cuerpo}}</p>
		<br><br>
    {% endcomment %}
	<br>
		<aside class="card">
			
			<div class="card-body">
			<img src="{{noti.imagen.url}}" width="100" height="100">
		
			
			<h5 class="card-title">{{noti.titulo}}</h5>
			<p class="card-text">{{noti.cuerpo}}</p>
			<a href="{% url 'noticias:detalle' noti.pk %}" class="btn btn-primary">Ir a Noticia</a>
			</div>
		</aside>
    <br>
	{% endfor %}
{% endblock contenido %}

